@import "mixins"
@import "vars"

input

  &[type=checkbox]

  &[type=text]
    border-left: none
    border-top: none
    border-right: none
    box-shadow: none
    border-radius: 0
    background-color: transparent
    @include input-placeholder($magenta)

    &:focus
      box-shadow: none
      border-bottom: 1px solid $magenta

      // ~ label
        // color: $magenta