@import "vars"

body
  background-color: #222530
  padding-top: 70px
  color: $white
  // background-image: url(/images/noise_texture.png)
  background-image: url(/images/linen.jpg)
  background-repeat: repeat

  &.modal-open

    .navbar, #main-container
      -webkit-filter: blur(1px)

  a

    &:hover
      cursor: pointer

  // Angular UI fix - see http://angular-ui.github.io/bootstrap
  .nav, .pagination, .carousel, .panel-title a
    cursor: pointer

  .navbar
    margin-bottom: 15px

  .btn

    &.checkbox
      margin-top: 0

      label
        padding-left: 0

        input[type=checkbox]
          opacity: 0
          height: 0px
          width: 0px
          margin: 0

  .btn-group

    &.open

      .btn
        border-radius: $border-radius $border-radius 0px 0px
        box-shadow: none

      .dropdown-menu
        margin-top: 0
        border-radius: 0px $border-radius $border-radius $border-radius
        border: none
        min-width: 200px
        background-color: $magenta
        padding: 4px

        li

          a
            color: $white
            text-shadow: 1px 1px rgba(0, 0, 0, 0.2)

            &:hover
              background-color: rgba(255, 255, 255, 0.2)
              border-radius: $border-radius