@import "vars"

body
  background-color: #222530
  padding-top: 70px
  color: $white
  background-image: url(/images/noise_texture_2b2e3a.png)
  background-repeat: repeat

  &.modal-open

    .navbar, #main-container
      -webkit-filter: blur(1px)

  a

    &:hover
      cursor: pointer

  // Angular UI fix - see http://angular-ui.github.io/bootstrap
  .nav, .pagination, .carousel, .panel-title a
    cursor: pointer

  .navbar
    margin-bottom: 15px