// $icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/"
$icon-font-path: "fonts/bootstrap/"
$border-radius: 4px

$magenta-highlight: #ee3867
$magenta: #ea3261
$magenta-shadow: #e02958

$slate-highlight: #313441
$slate: #2b2e3a
$slate-shadow: #222530

$white: #fff
$black: #000