nav.navbar.navbar-default(role="navigation")
  div.container-fluid
    //- Brand and toggle get grouped for better mobile display
    div.navbar-header
      button.navbar-toggle(type="button" data-toggle="collapse" data-target="#navbar-collapse")
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href="#") {{APP_NAME}}

    //- Collect the nav links, forms, and other content for toggling
    div#navbar-collapse.collapse.navbar-collapse
      ul.nav.navbar-nav

        li.active
          a(href="#/projects") Projects

        li.dropdown
          a.dropdown-toggle(href="#" data-toggle="dropdown") Dropdown
            span.caret
          ul.dropdown-menu(role="menu")
            li
              a(href="#") Action
            li
              a(href="#") Another action
            li
              a(href="#") Something else here
            li.divider
            li
              a(href="#") Separated link

      form.navbar-form.navbar-right(role="search")
        div.form-group
          input.form-control(type="text" placeholder="Search" ng-model="search")
        //- button.btn.btn-default(type="submit") Submit