doctype html
html.no-js

  head
    meta(charset="utf-8")
    title Backlogg
    meta(name="description" content="")
    meta(name="viewport" content="width=device-width")
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- bower:css -->
    <!-- endbower -->
    link(rel="stylesheet" href="styles/application.css")

    <!-- build:css(.) styles/vendor.css -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/application.css -->
    <!-- endbuild -->

  body(ng-app="backloggWeb" ng-controller="ApplicationController as applicationCtrl")

    <!--[if lt IE 7]>
    p.browsehappy
      | You are using an
      strong outdated
      | browser. Please
      a(href="http://browsehappy.com") upgrade your browser
      | to improve your experience.
    <![endif]-->

    include ./views/shared/_navbar.jade

    div.container-fluid#main-container
      div(ui-view)

    include ./views/shared/_google_analytics.jade

    <!-- build:js(.) scripts/oldieshim.js -->
    <!--[if lt IE 9]>
    script(src="bower_components/es5-shim/es5-shim.js")
    script(src="bower_components/json3/lib/json3.min.js")
    <![endif]-->
    <!-- endbuild -->

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    script(src="bower_components/jquery/dist/jquery.js")
    script(src="bower_components/angular/angular.js")
    script(src="bower_components/json3/lib/json3.js")
    script(src="bower_components/underscore/underscore-min.js")
    script(src="bower_components/restangular/dist/restangular.min.js")
    script(src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/affix.js")
    script(src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/alert.js")
    script(src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/button.js")
    script(src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/carousel.js")
    script(src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/collapse.js")
    script(src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/dropdown.js")
    script(src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/tab.js")
    script(src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/transition.js")
    script(src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/scrollspy.js")
    script(src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/modal.js")
    script(src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/tooltip.js")
    script(src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/popover.js")
    script(src="bower_components/angular-resource/angular-resource.js")
    script(src="bower_components/angular-cookies/angular-cookies.js")
    script(src="bower_components/angular-sanitize/angular-sanitize.js")
    script(src="bower_components/angular-animate/angular-animate.js")
    script(src="bower_components/angular-touch/angular-touch.js")
    script(src="bower_components/angular-route/angular-route.js")
    script(src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js")
    script(src="bower_components/angular-underscore/angular-underscore.min.js")
    script(src="bower_components/angular-ui-router/release/angular-ui-router.min.js")
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    script(src="scripts/application.js")
    script(src="scripts/config.js")
    script(src="scripts/routes.js")

    script(src="scripts/controllers/application_controller.js")
    script(src="scripts/controllers/projects_controller.js")
    script(src="scripts/controllers/project_actions_controller.js")
    script(src="scripts/controllers/sprints_controller.js")
    script(src="scripts/controllers/sprint_actions_controller.js")
    //- script(src="scripts/controllers/columns_controller.js")
    //- script(src="scripts/controllers/tasks_controller.js")
    //- script(src="scripts/controllers/comments_controller.js")
    script(src="scripts/controllers/new_project_controller.js")
    script(src="scripts/controllers/edit_project_controller.js")

    script(src="scripts/services/project_service.js")
    script(src="scripts/services/sprint_service.js")
    script(src="scripts/services/column_service.js")
    script(src="scripts/services/task_service.js")
    script(src="scripts/services/comment_service.js")

    script(src="scripts/filters/projects_filter.js")
    <!-- endbuild -->