div.sprint.panel.panel-default(ng-if="view == 'boards'" ng-class="{active: sprint.is_active, inactive: !sprint.is_active}")
  div.panel-heading
    div.panel-title
      a.sprint-title(ui-sref="columns({projectId: project.id, sprintId: sprint.id})") {{sprint.name}}
      small {{sprint.codename}}
      a.sprint-actions(ng-click="actions()" ng-controller="SprintActionsController as sprintActionsCtrl")
        div.btn-group(dropdown is-open="status.isopen")
          button.btn.btn-primary.dropdown-toggle(type="button" ng-disabled="disabled")
            i.fa.fa-cog
          ul.dropdown-menu(role="menu")
            li
              a(ng-click="edit(sprint)" ui-sref="sprints.edit({projectId: project.id, sprintId: sprint.id})")
                i.fa.fa-pencil
                | Edit
            li
              a(ng-click="archive(sprint)" ng-if="sprint.is_active")
                i.fa.fa-archive
                | Archive
              a(ng-click="unarchive(sprint)" ng-if="!sprint.is_active")
                i.fa.fa-archive
                | Unarchive
  div.panel-body
    small
      | Created {{sprint.created_at | date:'short'}}