a.btn.btn-default(ng-click="new()" ui-sref="sprints.new")
  i.fa.fa-plus-circle
  | New Sprint

div.btn-group
  button.btn.btn-default.dropdown-toggle(type="button" data-toggle="dropdown") Sort by {{sortLabel}}
    i.fa.fa-chevron-down
  ul.dropdown-menu(role="menu")
    li
      a(ng-click="sortBy('created_at'); updateQueryParam('sort', orderAttribute)") Creation
    li
      a(ng-click="sortBy('updated_at'); updateQueryParam('sort', orderAttribute)") Modification
    li
      a(ng-click="sortBy('name'); updateQueryParam('sort', orderAttribute)") Name
    li
      a(ng-click="sortBy('code'); updateQueryParam('sort', orderAttribute)") Code

div.checkbox.btn.btn-default
  i.fa(ng-class="{'fa-eye-slash': includeInactive, 'fa-eye': !includeInactive}")
  label
    input(type="checkbox" ng-change="updateQueryParam('archived', includeInactive)" ng-model="includeInactive")
    | {{ includeInactive ? "Hide archived" : "Show archived" }}

div.btn-group
  button.btn.btn-default(type="button" ng-click="viewAs('list'); updateQueryParam('view', view)" ng-class="{active: isActiveView('list')}")
    i.fa.fa-list
  button.btn.btn-default(type="button" ng-click="viewAs('boards'); updateQueryParam('view', view)" ng-class="{active: isActiveView('boards')}")
    i.fa.fa-th-large

p(ng-if="sprints.length == 0")
  | No sprints

div.sprint(ng-repeat="sprint in sprints | filter:showInactive | filter:search | orderBy:orderAttribute")

  include ./_boards.jade
  include ./_list.jade