div(ng-controller="ProjectsController as projectsCtrl")

  a.btn.btn-default(ng-click="open()")
    i.glyphicon.glyphicon-plus
    | New Project

  div.checkbox
    label
      input(type="checkbox" ng-model="includeInactive")
      | Show inactive

  div.project(ng-repeat="project in projects | filter:showInactive | filter:search")

    a(href="#/projects/{{project.project.id}}/sprints")
      i.glyphicon.glyphicon-cog
      {{project.project.name}}

    {{project.project.is_active}}