//- Note: Defining the ng-controller here causes problems when trying
//- to resolve promises in the router.
//- See http://stackoverflow.com/questions/21318658/angular-router-resolve-results-in-an-unknown-provider-error
//-
//- div(ng-controller="ProjectsController as projectsCtrl")

a.btn.btn-default(ng-click="new()" ui-sref="projects.new({view: view, sort: orderAttribute, archived: includeInactive})")
  i.fa.fa-plus-circle
  | New Project

div.btn-group
  button.btn.btn-default.dropdown-toggle(type="button" data-toggle="dropdown") Sort by {{sortLabel}}
    i.fa.fa-chevron-down
  ul.dropdown-menu(role="menu")
    li
      //- ui-sref="projects({sort: orderAttribute})"
      a(ng-click="sortBy('created_at'); updateQueryParam('sort', orderAttribute)") Creation
    li
      //- ui-sref="projects({sort: orderAttribute})
      a(ng-click="sortBy('updated_at'); updateQueryParam('sort', orderAttribute)") Modification
    li
      //- ui-sref="projects({sort: orderAttribute})
      a(ng-click="sortBy('name'); updateQueryParam('sort', orderAttribute)") Name
    li
      //- ui-sref="projects({sort: orderAttribute})"
      a(ng-click="sortBy('code'); updateQueryParam('sort', orderAttribute)") Code

div.checkbox.btn.btn-default
  i.fa(ng-class="{'fa-eye-slash': includeInactive, 'fa-eye': !includeInactive}")
  label
    //- ui-sref="projects({archived: includeInactive})"
    //- ng-true-value="true" ng-false-value="false"
    input(type="checkbox" ng-change="updateQueryParam('archived', includeInactive)" ng-model="includeInactive")
    {{ includeInactive ? "Hide archived" : "Show archived" }}

div.btn-group
  //- ui-sref="projects({view: view})"
  button.btn.btn-default(type="button" ng-click="viewAs('list'); updateQueryParam('view', view)" ng-class="{active: isActiveView('list')}")
    i.fa.fa-list
  //- ui-sref="projects({view: view})"
  button.btn.btn-default(type="button" class="btn btn-default" ng-click="viewAs('boards'); updateQueryParam('view', view)" ng-class="{active: isActiveView('boards')}")
    i.fa.fa-th-large

div.project(ng-repeat="project in projects | filter:showInactive | filter:search | orderBy:orderAttribute")

  include ./_boards.jade
  include ./_list.jade