div(ng-controller="ProjectsController as projectsCtrl")
  a.project(href="#/projects/{{project.project.id}}" ng-repeat="project in projects")
    i.glyphicon.glyphicon-cog
    {{project.project.name}}