//- Note: Defining the ng-controller here causes problems when trying
//- to resolve promises in the router.
//- See http://stackoverflow.com/questions/21318658/angular-router-resolve-results-in-an-unknown-provider-error
//-
//- div(ng-controller="ProjectsController as projectsCtrl")

a.btn.btn-default(ng-click="new()" ui-sref="projects.new")
  i.glyphicon.glyphicon-plus
  | New Project

div.btn-group
  button.btn.btn-default.dropdown-toggle(type="button" data-toggle="dropdown") Sort by {{sortLabel}}
    span.caret
  ul.dropdown-menu(role="menu")
    li
      a(ng-click="sortBy('created_at')") Creation
    li
      a(ng-click="sortBy('updated_at')") Modification
    li
      a(ng-click="sortBy('name')") Name
    li
      a(ng-click="sortBy('code')") Code

div.checkbox
  label
    input(type="checkbox" ng-model="includeInactive")
    | Show inactive

div.project(ng-class="{active: project.is_active, inactive: !project.is_active}" ng-repeat="project in projects | filter:showInactive | filter:search | orderBy:orderAttribute")

  div.panel.panel-default
    div.panel-heading
      div.panel-title
        a(href="#/projects/{{project.id}}/sprints")
          {{project.name}} ({{project.code}})
      div.panel-actions
        a(ng-click="actions()" ng-controller="ProjectActionsController as projectActionsCtrl")
          div.btn-group(dropdown is-open="status.isopen")
            button.btn.btn-primary.dropdown-toggle(type="button" ng-disabled="disabled")
              i.glyphicon.glyphicon-cog
            ul.dropdown-menu(role="menu")
              li
                a(ng-click="edit(project)" ui-sref="projects.edit({projectId: project.id})") Edit
              li.divider
              li
                a(href="#") Deactivate
    div.panel-body
      | Created {{project.created_at}}